
body {
    margin: 0px;
}

.phonemote-container {
    
}

.interops-view {
    height: 700px;
    width: 100%;
    overflow: auto;
    z-index: 0;
    background-color: #2b2c2e;
}

.interops-view-container {
    display: flex;
    flex-direction: column;
    width: initial;
    height: fit-content;
}

.interops-item {
    height: 100px;
    width: initial;
    background-color: green;
    margin: 10px;
}

.status-bar {
    height: 100px;
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-bar.error {
    background-color: crimson;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75) inset;
}
.status-bar.warning {
    background-color: orange;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.50) inset;
}
.status-bar.running {
    background-color: limegreen;
}
.status-bar.loading {
    background-color: cornflowerblue;
}

.status {
    font-family: 'Microsoft Sans Serif';
    font-size: 2em;
}